.select_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_button{
  width:  110px;
  height: 30px;
  text-align: center;
  margin-right: 5px;
  border-radius: 8px;
}

.more_button{
  margin-right: 5px;
  cursor: pointer;
  color: gray;
  opacity: 0.8;
}

.more_button:hover{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px;
  color: white;
}